
.loginTitle {
  color: black;
  font-size: 2rem;
  margin-bottom: 20px;
}

.loginMessage {
  color: #ff0033;
  margin-bottom: 20px;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 100px;
  backdrop-filter: blur(5px);
  /* transition: background 0.3s ease; */
}

/* .container:hover {
  background: rgba(255, 255, 255, 0.2);

} */

.inputContainer {
  display: flex;
  flex-direction: column;
  
}

.label {
  color: black;
  font-size: 1rem;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  color:black;
  outline: none;
}



button:hover {
  background: gray;
}


input {
  width: 300px; /* Adjust the width based on your preference */
  border: 1px solid #333; /* Set a dark gray border */
  box-shadow: 0 0 5px black; /* Add a black shadow */
  padding: 8px; /* Add padding for better spacing inside the input box */
}