@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

.landingpage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: 0.5s;
  font-family: "Cormorant Garamond", serif;
}

.Logo {
  width: 60%;
  margin-top: -8%;
}
.videoBg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  object-fit: cover;
}

.bgOverlay {
  height: 89%;
  width: 450px;
  background: rgba(255, 255, 255, 0);
  position: absolute;
  z-index: 0;
  top: 7%;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

.navbar {
  width: 100%;
  height: 4em;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.homeText {
  /* width: 70%; */
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}

.logoTitle {
  font-size: 5em;
  animation-name: fade;
  animation-duration: 4s;
  white-space: nowrap;
  color: black;
  font-family: "Cormorant Garamond", serif;
  position: relative;
    top: -1%;
    font-size: 10rem;
    margin: 0;
}

/* .subHeaderTitle {
  justify-self: flex-end;
  font-size: 1.5em;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  position: relative;
    margin: 0;
    top: -12%;
    font-family: "Cormorant Garamond", serif;
} */

.logosubheaderTitle {
    font-family: "Italianno", cursive;
    background: -webkit-linear-gradient( 45deg, #a67c00, #bf9b30, #ffdc73, #bf9b30, #a67c00 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: bold;
    margin-left: 9%;
    position: relative;
    top: -13%;
    font-size: 2.5rem;
    /* margin-left: 1%; */
    /* width: 33%; */
    padding-right: 10%;
    margin: 0px;
    left: 5.5%;
}

.loginBtn {
    width: 7em;
    height: 1.9em;
    /* border: 2px solid black; */
    border-radius: 0.25em;
    z-index: 1;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  text-align: center;
  margin-top: 3%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

.signupBtn {
    width: 7em;
    height: 1.9em;
    /* border: 2px solid black; */
    border-radius: 0.25em;
    z-index: 1;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    margin-top: 3%;
    margin-bottom: 32%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    
}

/* ---------- Animation --------------- */
/* @keyframes fade {
    0% {
        opacity: 0;
        margin-left: 3em;
    }
    100% {
        opacity: 1;
    }
} */
