

  label {
    cursor: default;
    margin-left: 20px;
}
  
 
  
  
  .signupButton {
    padding: 8px 16px;
    width: 30%;
    
  }
  
  
  
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    height: 92vh;
}

.schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .schedule > * {
    flex: 1;
    margin-right: 10px; /* Adjust margin as needed */
  }
  
  .schedule input,
  .schedule button {
    width: 100%;
  }

  