/* src/pages/SearchPage/SearchPage.css */

/* Center the entire content of the SearchPage */
/* div {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  } */
  
  /* Style for the search input and button */

  label {
    cursor: default;
    margin-left: 20px;
}
  
  input {
    width: 400px; 
    height: 40px; /* Set the desired height */
    margin: 15px 15px; /* Add margin to space out the input from other elements */
    padding: 8px;
    
   
  }
  
  
  .signupButton {
    padding: 8px 16px;
    width: 30%;
    
  }
  
  
  
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    height: 92vh;
}

.schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .schedule > * {
    flex: 1;
    margin-right: 10px; /* Adjust margin as needed */
  }
  
  .schedule input,
  .schedule button {
    width: 100%;
  }

  