/* Style for the search input and button */
.searchInputField {
  height: 41px;
  /* margin: 10px 0; */
  padding: 8px;
  border-radius: 5px 0px 0px 5px; 
  /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); */
  background-color: transparent;
  border-block-color: transparent;
  border-color: white;
  border-style: solid;
  border-width: thin;
  font-size: large;
  color: white;
  
}

.searchInputField::placeholder {
  color: white;
}

.searchButton {
  padding: 20px 12px;
  max-width: 50%;
  height: 68%;
  border-radius: 0px 10px 10px 0px;
  /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); */
  font-size: 1rem;
  color: white;
  border-style: solid;
    border-width: thin;

 
}

.navbar {
  position: relative; /* or 'absolute', depending on your layout */
  z-index: 2;
}

.planeBg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0; /* Ensure it starts from the very left */
  object-fit: cover;
  overflow: hidden;
  z-index: 1; /* Lower than the navbar */
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr; /* One column layout */
  grid-template-rows: auto auto; /* Two rows: auto-sized to fit content */
  justify-content: center;
  align-items: center;
  height: 92vh; /* Adjusted to single height property */
  grid-template-areas:
    "headerContainer"
    "scheduleContainer";
    
  
}

.headerContainer {
  grid-area: headerContainer;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 1;
  font-family: "Cormorant Garamond", serif;
  position: relative;
    top: 36%;
}

.schedule {
  display: flex;
  align-items: center;
  width: 85%;
  margin-bottom: 0%;
 

  
}

.scheduleContainer {
  grid-area: scheduleContainer;
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
    z-index: 1;
    margin-left: 10%;
   
}

.schedule > * {
  flex: 1;
  
  /* Makes each child flexibly occupy equal space */
}

.schedule input,
.schedule button {
  width: 100%; 
  /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); */
  /* border-color: black; */

}

.header {
  font-size: 7rem;
  margin-bottom: 0;
  font-size: calc(1rem + 3vw);

}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(255, 253, 253, 0.87);
  box-sizing: border-box;
  position: relative;
  cursor: text;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-radius: 4px;
  padding-right: 14px;
}


