.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
   

}




.loginButton {
  color: black;
  /* margin-left: 24%; */
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  font-family: "Cormorant Garamond", serif;  
 

  }
  
  .cancelButton {
    color: black;
    margin-left: 8%;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    font-family: "Cormorant Garamond", serif;
    justify-content: center;
  }

  .inputField {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    color:black;
    outline: none;
  }
  
  .inputField {
    width: 300px; /* Adjust the width based on your preference */
    border: 1px solid #333; /* Set a dark gray border */
    box-shadow: 0 0 5px black; /* Add a black shadow */
    padding: 8px; /* Add padding for better spacing inside the input box */
  }

  .Loogo {
    height: 13rem;
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: -34%;
  }



  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16%;
  }
  