.detailsContainer {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "detailsHeader detailsHeader"
      "detailsMap detailsInfo";
      height: 92vh;
  }
  
  .detailsMap { 
    grid-area: detailsMap;
    display: flex;
    justify-content: center;
    align-items: center;
 }
  
  .detailsInfo { grid-area: detailsInfo; }
  
  .detailsHeader { grid-area: detailsHeader; }
  