.container {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "leftSide rightSide";
    width: 100vw;
    height: 92vh;
  }
  
  .leftSide {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 2.7fr;
    gap: 0px 0px;
    grid-template-areas:
      "searchBar"
      "Map";
    grid-area: leftSide;
    height: 100%; /* Adjusted */
  }
  
  .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: searchBar;
  }

  .searchInput {
    width: 60%;
    height: 60%;
    border-radius: 10px;
    margin-right: 5%;
    font-size: 1rem;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
  }

  .searchButton {
    border: 2px solid #06c;
    border-radius: 10px;
    padding: 2%;
  }

  .cancel {
    margin-right: 5%;
    border: 2px solid #c00;
    border-radius: 10px;
  
  }

  .save {
    border: 2px solid #26cc00;
    border-radius: 10px;
  }

  
  
  .Map {
    grid-area: Map;
    height: 100%; /* Added */
    width: 100%; /* Added */
  }
  
  .googleMaps {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Added */
    width: 100%; /* Added */
  }
  
  .rightSide {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 2.4fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "tripTitle tripTitle tripTitle"
      "itinerary itinerary itinerary"
      "saveCancel saveCancel saveCancel";
    grid-area: rightSide;
    height: 100%; /* Adjusted */
  }
  
  .saveCancel { 
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: saveCancel; 
}
  
  .itinerary {
    margin-right: 3%;
    grid-area: itinerary; 
}
  
.tripTitle { grid-area: tripTitle; }

.selectedPlaceTitle{
    font-family: 'Cormorant Garamond', serif;
  }

  .createTitle {
    font-family: 'Cormorant Garamond', serif;
  }
  

.userItineraryChoiceField {
  width: 67%;
    height: 20%;
    font-size: 120%;
    box-shadow: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    border: solid;
    border-color: grey;
    border-radius: 5px;
}
