.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; /* Adjust the height as needed */
  }
  
  h2 {
    text-align: center;
  }
 