.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; 
    z-index: 1;
    
  }

  
  .signupTitle {
    text-align: center;
  }

  .inputContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  

